{% extends "layout.html" %}

{% block title %}Game Description{% endblock %}

{% block content %}
<div id="content">
  {% include 'header.html' %}
  <div id="container">
    <main id="main">
      <div class="description">
        <br>
        <h2>{{ some_game.title }}</h2>
        <p><i>Release Date:</i> {{ some_game.release_date }}</p>
        <p><i>Price:</i> {{ some_game.price }}</p>
        <p><i>About:</i> {{ some_game.description }}</p>
        <p><i>Image URL: </i><img src="{{ some_game.image_url }}" alt="game image"></p>
      </div>
    </main>
  </div>
</div>
{% endblock %}
