{% extends "layout.html" %}
{% block title %}
    Games by Genre
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}


{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <main id="content">
        <img src="../static/logoImage/genre_bar_banner.png" alt="Genre Banner" style="max-width: 100%;"/>
        <h2>Games by {{ selected_genre }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.title }}</td>
                        <td>{{ game['game_release_date'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
{% endblock %}