<header id="header">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <h1>CS235 2023: My Game Library</h1>
    <div class="copyright">&copy; lste186 | jkim649 | cwan877 </div>
    {% if 'username' in session %}
        Logged in as <i style="font-family: 'Roboto Light', Arial, sans-serif;">{{ session['username'] }}</i>. <a style="font-family: 'Roboto Light', Arial, sans-serif;" href="{{ url_for('authentication_bp.logout') }}">Log Out?</a>
    {% else %}
        <div class="auth-links">
            <a style="font-family: 'Roboto Light', Arial, sans-serif;" href="{{ url_for('authentication_bp.register') }}">Register</a> or <a style="font-family: 'Roboto Light', Arial, sans-serif;" href="{{ url_for('authentication_bp.login') }}">Sign In</a>
        </div>
    {% endif %}
</header>

