{% extends 'layout.html' %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <div id="content">
            <p>
                <strong>Access Games Instantly</strong>
                With nearly 30,000 games from AAA to indie and everything in-between.
                Enjoy exclusive deals, automatic game updates, and other great perks.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                (GAME SEARCHING BAR NEEDED HERE)**

            </p>
        </div>
    </div>
{% endblock %}
