{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <div id="content">

            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Dropdown</button>
              <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#about">About</a>
                <a href="#base">Base</a>
                <a href="#blog">Blog</a>
                <a href="#contact">Contact</a>
                <a href="#custom">Custom</a>
                <a href="#support">Support</a>
                <a href="#tools">Tools</a>
              </div>
            </div>

             <div class="search-container">
                <input type="text" id="search-input" placeholder="Search games...">
                <select id="selected-genre">
                    <option value="" selected disabled>Select a genre...</option>
                    {% for genre in all_genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
                <button id="search-button" type="button">Search</button>
            </div>
            <br>
            <div id="floating-paragraph">
                <br>
                <strong>Access Games Instantly</strong>
                <br>
                <br>
                With nearly 30,000 games from AAA to indie and everything in-between. <br>
                Enjoy exclusive deals, automatic game updates, and other great perks.
                <br>
                <br>
                <img src="../static/logoImage/HomeImg.png" alt="Home image " style="max-width: 100%;" />
            </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </div>
{% endblock %}
