<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Game Description{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'navbar.html' %}
{% include 'genre/genreBar.html' %}
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
