 <nav>
          <img id="logo" src="../static/logo.png" />
          <div class="heading">Game Listing</div>
          <br>
          <div class="navbar">
            <ul>
              <li><a href="#Home">Home</a></li>
              <li><a href="#all games">All Games</a></li>
              <li><a href="#Reviews">Reviews</a></li>
              <li><a href="#Wishlist">Wishlist</a></li>
            </ul>
          </div>
          <div id="nav-footer">
            &copy; lste186 | jkim649 | cwan877

          </div>
        </nav>