<nav>
    <a href="{{ url_for('home_bp.home') }}">
    <img src="../static/logoImage/logo.png" alt="Game site logo" width="250" height="250"/>
    </a>
    <div class="heading">Game Listing</div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <br>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
            <li><a href="{{ url_for('games_bp.games') }}">All Games</a></li>
        </ul>
    </div>
    <div id="nav-footer">
        &copy; lste186 | jkim649 | cwan877
    </div>
</nav>
