{% extends "layout.html" %}

{% block title %}Game Description{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <main id="content">
            <h2><strong>Profile Page</strong></h2>
            <div>
                <h3>Favourites:</h3>
                {% for fave in favourites %}
                    <p>{{ fave }}</p>
                    <a href=" /profile ">Delete</a>
                {% endfor %}
            </div>

<!--            <table>-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <th>Title</th>-->
<!--                        <th>Release Date</th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    {% for game in favourites %}-->
<!--                        <tr>-->
<!--                            <td><a href="{{ url_for('descriptions_bp.descriptions', current_game=game, current_game_id=game['game_id']) }}">{{ game['title'] }}</a></td>-->
<!--                            <td>{{ game['game_release_date'] }}</td>-->
<!--                        </tr>-->
<!--                    {% endfor %}-->
<!--                </tbody>-->
<!--            </table>-->
        </main>
    </div>
{% endblock %}