{% extends "layout.html" %}

{% block title %}Game Description{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <main id="content">
            <h2><strong>Profile Page</strong></h2>
            <div>
                {% for fave in favourites %}
                    <p>{{ fave }}</p>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}