{% extends 'header.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Write a Review</h2>
    <form method="POST" action="{{ url_for('games_bp.post_a_review') }}">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.review_text.label(class="form-control-label") }}
        {{ form.review_text(class="form-control", placeholder="Write your review here", rows="5") }}
        {% if form.review_text.errors %}
          <div class="alert alert-danger">
            {% for error in form.review_text.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </div>
    </form>
  </div>
{% endblock %}