/* credentials.css */

.form__wrapper {
    width: 100%;
    text-align: left;
    background-color: floralwhite;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.form__title {
    text-align: center;
    margin: 0 0 32px;
    font-size: 48px;
    color: darkblue;
}

.form__field {
    margin: 16px 0;
}

.form__field label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 8px;
    color: #333;
}

.form__field input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
}

.form__field input.has_error {
    border: 1px solid red;
}

.form__wrapper input[type="submit"] {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    background-color: #55cbeb;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.form__errors {
    list-style-position: inside;
    padding: 0;
    margin-top: 8px;
    color: red;
    font-size: 12px;
}