#header {
  padding: 20px;
  background: #55cbeb;
  border-bottom: 2px solid #110a1c;
  font-family: "Roboto Light", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

body {
    background-color: snow;
}

h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;

}
#floating-paragraph {
    font-family: 'Roboto', Arial, sans-serif;
}

.copyright {
  color: black;
  font-size: 0.9em;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    right: 0;

    background-color: #0f1522;
    font-family: "Roboto Light", Arial, sans-serif;
    color: white;
}

.sidebar h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Roboto Light", Arial, sans-serif;
}
sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    position: relative;
    text-align: center;
    list-style: none;
}

.sidebar ul li {
    margin: 0;
    padding: 0px;
    transition: 0.2s ease-in;
}

.sidebar ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.sidebar ul li:hover {
    background-color: cyan;
}

.sidebar ul li a:hover {
    color: white;
}


#container {
    margin: 10px;
}

#content {
    background-color: floralwhite;
    border: 1px solid #ddd;
    text-align: center;
    height: auto;
    margin-left: 250px;
    margin-right: 243px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}




#content p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

#content strong {
    color: darkblue;
}

#nav-footer {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
  position: absolute;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
  font-family: "Roboto Light", Arial, sans-serif;
}


.description p i {
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color:darkslateblue
    }

.description img {
        vertical-align: top;
    }

nav {
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    float: left;
    padding: 30px 0px;
    background-color: #0f1522;
    font-family: "Roboto Light", Arial, sans-serif;
}


nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Roboto Light", Arial, sans-serif;
}

nav ul {
    display: inline;
    list-style: none;
    position: relative;
    text-align: center;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: cyan;
}

nav ul li a:hover {
    color: white;
}

/*   Games list css   */
#content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#content th, #content td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-family: "Roboto Light", Arial, sans-serif;
}

#content th {
    background-color: #55cbeb;
    font-weight: bold;
    font-family: "Roboto Light", Arial, sans-serif;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination__item {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    font-family: "Roboto Light", Arial, sans-serif;
}

.pagination__item.active {
    background-color: #55cbeb;
    color: white;
}

.pagination__ellipsis {
    margin: 0 5px;
}

