#header {
  padding: 20px;
  background: #55cbeb;
  border-bottom: 2px solid #110a1c;
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.copyright {
  color: black;
  font-size: 0.9em;
}



.sidebar {
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    right: 0;
    top: 0;
    background-color: #0f1522;
    font-family: Arial, sans-serif;
    color: white;
}

.sidebar h2 {
    text-align: center;
    padding: 30px 0;
    margin: 0;
}




#container {
    margin: 10px;
}

#content {
    background-color: lightgoldenrodyellow;
    border: 1px solid #ddd;
    text-align: center;
    height: 100vh;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
}



#content p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

#content strong {
    color: darkblue;
}

#nav-footer {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
  position: absolute;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
}


.description p i {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color:darkslateblue
    }

.description img {
        vertical-align: top;
    }

nav {
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    float: left;
    padding: 30px 0px;
    background-color: #0f1522;
    font-family: Arial, sans-serif;
}


nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

nav ul {
    display: inline;
    list-style: none;
    position: relative;
    text-align: center;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: pink;
}

nav ul li a:hover {
    color: white;
}


