{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <div id="content">
            <div class="search-container">
                <form method="POST" action="{{ url_for('home_bp.search_results') }}">
                    <input type="text" id="search-input" name="search" placeholder="Search games..." value="{{ request.form['search'] }}">
{#                       <select id="selected-genre" name="genre">#}
{#                        <option value="" selected disabled>Select a genre...</option>#}
{#                        {% for genre in all_genres %}#}
{#                            <option value="{{ genre }}">{{ genre }}</option>#}
{#                        {% endfor %}#}
{#                         </select>#}
                    <input type="submit" id="search-button" value="Search">
                </form>
            </div>
            <br>
            <div id="floating-paragraph">
                <br>
                <strong>Access Games Instantly</strong>
                <br>
                <br>
                With nearly 30,000 games from AAA to indie and everything in-between. <br>
                Enjoy exclusive deals, automatic game updates, and other great perks.
                <br>
                <br>
                <img src="{{ url_for('static', filename='logoImage/HomeImg.png') }}" alt="Home image" style="max-width: 100%;">
            </div>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </div>
{% endblock %}
