{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{% include 'header.html' %}
    <div class="form__wrapper">
        <h1 class="form__title">{{ form_title }}</h1>
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }} <!-- Include the CSRF token required by Flask WTForms -->

            {# Username Field #}
            <div class="form__field">
                {{ form.username.label }}
                {{ form.username(placeholder="Username", class_="has_error" if form.username.errors or username_error_message) }}
                {% if form.username.errors or username_error_message %}
                    <ul class="form__errors">
                        {% if username_error_message %}
                            <li>{{ username_error_message }}</li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {# Password Field #}
            <div class="form__field">
                {{ form.password.label }}
                {{ form.password(placeholder="Password", class_="has_error" if form.password.errors or password_error_message) }}
                {% if form.password.errors or password_error_message %}
                    <ul class="form__errors">
                        {% if password_error_message %}
                            <li>{{ password_error_message }}</li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {# Password Confirmation Field #}
            {% if form.password_confirmation %}
                <div class="form__field">
                    {{ form.password_confirmation.label }}
                    {{ form.password_confirmation(placeholder="Password confirmation") }}
                    {% if form.password_confirmation.errors %}
                        <ul class="form__errors">
                            {% for error in form.password_confirmation.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            {{ form.submit }}
        </form>
    </div>
{% endblock %}