{% extends "layout.html" %}

{% block title %}Game Description{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div id="container">
        <main id="content">
            <h2><strong>{{ games['title'] }}</strong></h2>
            <h3><strong>Price:</strong> <strong>${{ games['price'] }}</strong></h3>
            <div>
                {% for genre in games['genres'] %}
                    <p>{{ genre }}</p>
                {% endfor %}
            </div>
            <br>
            <div id="floating-paragraph">{{ games['description'] }}</div>
            <br>
            <img src="{{ games['image_url'] }}" alt="Game Header Image">
        </main>
    </div>
{% endblock %}