    <!-- Review Form -->
<div id="review-form-container">
    <h3>Write a Review</h3>
    <form method="POST" action="{{ url_for('reviews_bp.write_game_review') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <input type="hidden" name="game_id" value="{{ games['game_id'] }}">
        <div class="form-group">
            {{ form.rating.label }}
            {{ form.rating(type="number", class="form-control", step="0.01") }}
            {% for error in form.rating.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.comment.label }}
            {{ form.comment(class="form-control", rows=4) }}
            {% for error in form.comment.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit | safe }}
<!--        <button type="submit" class="btn btn-primary">Submit Review</button>-->
    </form>
</div>


